#page-wrap {
	width: 1140px;
}
.main-nav.fixed {
    width: 1140px;
}
@media (min-width: 1400px) {
    .featured-slider-wrapper .thumb, .featured-slider-wrapper, .gallery-wrap, .slick-initialized .bk-slick-thumbnail {
        height: 600px;
        max-height: 600px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
    #page-wrap {
        width: 1140px;
    }
    .bkwrapper {
        width: 1140px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}   
@media (min-width: 1110px) and (max-width: 1199px) {
    /*
    .has-sb .content-wrap.col-md-8, .wp-page .has-sb.col-md-8 {
        width: 760px;
    }
    */
}
@media (min-width: 1110px) and (max-width: 1199px) {
    .container {
        width: 1110px;
    }
    .bkwrapper {
        width: 1110px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}