#meta-box-notification {
    display: none !important;
}
a:visited, a:focus {
    text-decoration: none !important;
    color: inherit;
    outline: 0 !important;
}
.post-layout-options .rwmb-image-select {
    width: 100px;
    height: 100px;
    margin: 0 20px 20px 0;
    border: 3px solid #d8d8d8;
}
.redux-container-image_select li.redux-image-select {
    margin: 0 20px 20px 0 !important;
}
/** Post editor **/
.editor-writing-flow {
    height: auto;
    min-height: 300px;
}
.edit-post-visual-editor .editor-writing-flow__click-redirect {
    display: none;
}
.edit-post-visual-editor .editor-block-list__block {
    max-width: 760px;
}
/** Metabox **/
.edit-post-meta-boxes-area #poststuff h2.hndle {
    font-size: 16px;
    color: #fff;
    border: none;
    background: #455A64;
    margin-top: 20px;
    margin-bottom: 20px;
}
.edit-post-meta-boxes-area .postbox>.inside {
    border-bottom: 0;
}
/** Sidar Creator **/
#smk-sidebars .sbg-clearfix:last-child {
    display: none;
}
/*** Tiny MCE***/
.mce-menu .mce-menu-item.mce-selected span{
    color: #fff;
}
.mce-menu .mce-menu-item.mce-selected .mce-caret, 
.mce-menu .mce-menu-item:hover .mce-caret{
    border-left-color: #fff;
}
.mce-bk-shortcode-popup-frame {
    max-height: 500px !important;
    overflow-y: scroll;
    top: 60px !important;
    width: auto;
}
.mce-bk-shortcode-popup-frame .mce-widget.mce-label {
    max-width: 200px !important;
    min-width: 0 !important;
}
.mce-bk-shortcode-popup-frame .mce-colorpicker {
    max-height: 200px !important;
}
/********* Post Review Admin ************/
.bk-enabled-review{
    display:none;
}
.field-bkmegamenu {
    clear: both;
    padding-top: 10px;
}
.bk-module-option-field-wrapper select {
    height: auto !important;
}
/*
 * Page Builder
 */
.textarea-animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
.bk-modules-wrap .button.dropdown-toggle {
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;  
    background-color: #455A64 !important;
              
}
.bk-modules-wrap .button.dropdown-toggle .caret {
    border-top-color: #fff !important;
}
.dropdown-menu li a {
    text-decoration: none;
}
#bk-container {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #DFDFDF;
  position: relative;
  margin: 30px 0;
}
#bk-container.bk-gutenberg-detected {
    padding: 30px 0;
    margin: 30px;  
}
.bk-composer-active .editor-writing-flow__click-redirect {
    display: none;
}
.bk-composer-active .editor-writing-flow {
    height: auto;
}
#bk-container .bk-toolbox {
    width: 100%;
    text-align: center;
}
#bk-container .bk-toolbox > ul {
    display: inline-block;
}
#bk-container .bk-toolbox ul li {
    float: left;
    margin-right: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}
#bk-container .bk-toolbox ul li:last-child {
    margin-right: 0;
}
#bk-container .bk-toolbox ul li a {
    display: block;
    width: 190px;
    height: 135px
}
#bk-container .bk-toolbox ul li.fullwidth {
    background-image: url('../images/full-width.png');
}
#bk-container .bk-toolbox ul li.has-rsb {
    background-image: url('../images/has-rsb.png');
}
#bk-container .bk-toolbox ul li.has-innersb {
    background-image: url('../images/has-innersb.png');
}
.bk-sections .bk-section-loading {
  margin: 10px;
  padding: 10px;
  color: #999;
  text-align: center;
}

.bk-sections .bk-section-empty {
  border: 1px dashed #ddd;
  margin: 10px 0;
  padding: 10px;
  color: #999;
  text-align: center;
  display: none;
}
.bk-sections .bk-section-empty:last-child {
  display: block;
}

.bk-section {
    margin: 30px;
    box-shadow: none !important;
    border-radius: 0;
    border: none;
}

.bk-section .bk-section-bar {
    padding: 15px 10px 15px 10px;
    background-color: #455A64;
    color: #fff;
}

.bk-section .bk-section-toolbox {
  float: right;
}
.bk-section .bk-module-toolbox {
  float: right;
}
.bk-section-delete i {
    color: #fff;
    font-size: 16px;
}
.bk-section .bk-sec-label, .bk-section [class^="icon-"], .bk-section [class*=" icon-"] {
  font-size: 14px;
  line-height: 1.5;
  vertical-align: middle;
}

.bk-section .bk-sec-sort-ctrl {
  cursor: move;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #DFDFDF;
  font-size: 20px;
}
.bk-section .bk-sec-label {
  font-size: inherit;
  display: inline-block;
  cursor: move;
}

.bk-section .bk-module-handle {
  cursor: move;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #DFDFDF;
  font-size: 16px;
}
.bk-section .bk-module-label {
  font-size: inherit;
  display: inline-block;
  cursor: move;
}
.bk-sec-placeholder {
  display: block;
  margin: 10px;
  height: 35px;
  border: 1px dashed #ccc;
}
.bk-module-placeholder {
  display: block;
  margin: 10px;
  height: 35px;
  border: 1px dashed #ccc;
}
.bk-section .bk-module-bar {
    padding: 10px;
    background-color: #455A64;
    color: #fff;
}
.bk-module-delete i {
    color: #fff;
    font-size: 14px;
}
.bk-has-rsb-module-menu, .bk-fullwidth-module-menu ,.bk-has-innersb-module-menu {
    padding: 20px 20px 10px 20px;
    height: 30px;        
}
.bk-has-rsb-module-menu .dropdown, .bk-fullwidth-module-menu .dropdown, .bk-has-innersb-module-menu .dropdown {
    float: left;   
}
.bk-modules-wrap {
    position: relative;
}
.bk-modules-wrap .sidebar {
    position: absolute;
    top: 20px;
    right: 140px;
}
.bk-modules-wrap .sidebar label {
    font-weight: bold;
    font-size: 14px;  
    margin-right: 10px; 
}
.bk-modules-wrap .sidebarpos {
    position: absolute;
    top: 20px;
    right: 20px;
}
.bk-modules-wrap {
    border: 1px solid #eeeeee;
    display: none;
    background-color: #fff;
}
.bk-modules {
    clear: both;
    padding: 0 20px 30px 20px;
}
.bk-module-options {
    border-top: 1px solid #eeeeee;
    padding: 20px;
}
.bk-module-option-wrap {
    margin-bottom: 15px;
}
.bk-module-option-label {
    font-weight: bold;
}
.bk-module-option-description {
    font-style: italic;
}
.bk-module-option-field-wrapper .bk-field{
    width: 500px;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    border-color: #aaa;
    margin-top: 10px;
    margin-bottom: 5px;
    outline: none !important;
}
.leftsec .bk-module-option-field-wrapper .bk-field, .rightsec .bk-module-option-field-wrapper .bk-field {
    width: 100%;
}
.bk-module-item {
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 #FFF;
}


.leftsec {
    width: 66.66666%;
    float: left;
    margin-top: 60px;
    border-top: 1px solid #d3d3d3;
}

.rightsec {
    width: 33%;
    float: right;
    margin-top: 60px;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
}

.menu-item-settings .description-thin, .menu-item-settings .description-wide {
    float: none !important;    
}
.nav-menus-php .meta-sep, .nav-menus-php .submitcancel, .nav-menus-php .submitdelete {
    float: none !important;
    display: inline-block !important;
}
/** Module Dropdown **/
.open > .dropdown-menu {
    width: 100%;
}
.bk-modules-wrap .bk-fullwidth-module-menu .dropdown, .bk-modules-wrap .bk-has-rsb-module-menu .dropdown {
    position: static;
    display: block !important;
}
.bk-modules-wrap .bk-fullwidth-module-menu, .bk-modules-wrap .bk-has-rsb-module-menu {
    position: relative;
    box-sizing: content-box;
}
/** Module Selection **/
.bk-modules-wrap .dropdown-menu {
    padding: 5px 0 20px 0;
}
.bk-modules-wrap .dropdown-menu li a {
    display: block;
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 0;
    position: relative;
}
.bk-modules-wrap .dropdown-menu li a:after {
    font-size: 10px;
    top: 100%;
    margin-top: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.bk-modules-wrap .dropdown-menu li a:hover, .bk-modules-wrap .dropdown-menu li a:focus {
    background-color: inherit;
}
.bk-modules-wrap .dropdown-menu li {
    margin: 15px;
    display: inline-block;
    float: left;
    width: 100px; height: 110px;
    overflow: hidden;    
    text-align: center;
    background-position: center top;
}
.bk-modules-wrap .dropdown-menu li p {
    margin-top: 6px;
    line-height: 1.3;
    font-size: 11px;    
    max-height: 3.9em;
    overflow: hidden;
}
.bk-modules-wrap .dropdown-menu li{
    background-repeat: no-repeat;
}
/*** Text Editor **/
.bk-paragraph-1 {
    padding: 0 30px;
}

/** Option Tabs **/
.bk-module-tabs {
    margin-bottom: 30px;
    text-align: right;
}
.bk-module-tabs a {
    padding: 4px 15px 6px 15px;
    background: #455A64;
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}
.bk-module-tabs a.active {
    background: #008EC2;
}
.bk-module-tabs a:first-child {
    margin-left: 0;
}
.tab-option-1 .bk-tab-1, .tab-option-2 .bk-tab-2, .tab-option-3 .bk-tab-3, .tab-option-4 .bk-tab-4, .tab-option-5 .bk-tab-5{
    display: none !important;
}







.toplevel_page_bk-theme-welcome{
    display: none;
  }