.bk-paragraph-padding-0 {
  display: block;
  padding-left: 0;
  padding-right: 11%;
}
.bk-paragraph-padding-1 {
  display: block;
  padding-left: 11%;
  padding-right: 11%;
}
.bk-paragraph-padding-2 {
  display: block;
  padding-left: 17.5%;
  padding-right: 17.5%;
}
.bk-paragraph-padding-3 {
  display: block;
  padding-left: 11%;
  padding-right: 17.5%;
}
.bk-paragraph-padding-4 {
  display: block;
  padding-left: 11%;
  padding-right: 0;
}
.bk-paragraph-padding-5 {
  display: block;
  padding-left: 22.5%;
  padding-right: 22.5%;
}
.bk-paragraph-padding-6 {
  display: block;
  padding-left: 17.5%;
  padding-right: 11%;
}
.bk-pb-span8 .bk-paragraph-padding-0,
.mceContentBody-max-width-small .bk-paragraph-padding-0 {
  padding-right: 3%;
}
.bk-pb-span8 .bk-paragraph-padding-1,
.mceContentBody-max-width-small .bk-paragraph-padding-1 {
  padding-left: 3%;
  padding-right: 3%;
}
.bk-pb-span8 .bk-paragraph-padding-2,
.mceContentBody-max-width-small .bk-paragraph-padding-2 {
  padding-left: 8.5%;
  padding-right: 8.5%;
}
.bk-pb-span8 .bk-paragraph-padding-3,
.mceContentBody-max-width-small .bk-paragraph-padding-3 {
  padding-left: 3%;
  padding-right: 8.5%;
}
.bk-pb-span8 .bk-paragraph-padding-4,
.mceContentBody-max-width-small .bk-paragraph-padding-4 {
  padding-left: 3%;
}
.bk-pb-span8 .bk-paragraph-padding-5,
.mceContentBody-max-width-small .bk-paragraph-padding-5 {
  padding-left: 10.5%;
  padding-right: 10.5%;
}
.bk-pb-span8 .bk-paragraph-padding-6,
.mceContentBody-max-width-small .bk-paragraph-padding-6 {
  padding-left: 8.5%;
  padding-right: 3%;
}
/* responsive phone */
@media (max-width: 500px) {
  .bk-paragraph-padding-0,
  .bk-paragraph-padding-1,
  .bk-paragraph-padding-2,
  .bk-paragraph-padding-3,
  .bk-paragraph-padding-4,
  .bk-paragraph-padding-5,
  .bk-paragraph-padding-6 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}