@media (min-width: 1360px){
    .canvas-menu-wrap.right {
        float: right;
        margin-right: 40px;
    }
    /** Tech 1 Grid */
    .module-tech-grid .bkmodule-fw ul li {
        height: 220px;
    }    
    .module-tech-grid .bkmodule-fw ul li:nth-child(4), 
    .module-tech-grid .bkmodule-fw ul li:nth-child(5), 
    .module-tech-grid .bkmodule-fw ul li:nth-child(6) {
        height: 280px;
    }
    .module-tech-grid .bkmodule-fw ul li:first-child {
        height: 440px;
    }
    /** Pyramid Grid **/
    .module-pyramid-grid .bkmodule-fw ul li {
        height: 260px;
    }
    .module-pyramid-grid .bkmodule-fw ul li:first-child , .module-pyramid-grid .bkmodule-fw ul li:nth-child(2) {
        height: 360px;
    }
    /** Grid 1 **/
    .module-grid-1 .bkmodule-fw ul li:first-child, .module-grid-1 .bkmodule-fw ul li:nth-child(2) {
        height: 360px;
    }
    .module-grid-1 .bkmodule-fw ul li {
        height: 240px;
    }
    /** Grid 2 **/
    .module-grid-2 .bkmodule-fw ul li:first-child {
        height: 500px;
    }
    .module-grid-2 .bkmodule-fw ul li, .module-grid-2 .bkmodule-fw ul li:nth-child(2) {
        height: 250px;
    }
    /** Grid 3 **/
    .module-grid-3 .bkmodule-fw ul li:first-child {
        height: 500px;
    }
    .module-grid-3 .bkmodule-fw ul li {
        height: 250px;
    }
    /** Grid 4 **/
    .module-grid-4 .bkmodule-fw ul li:first-child {
        height: 520px;
    }
    .module-grid-4 .bkmodule-fw ul li {
        height: 260px;
    }
    /** Grid 5 **/
    .module-grid-5 .bkmodule-fw ul li:first-child {
        height: 520px;
    }
    .module-grid-5 .bkmodule-fw ul li {
        height: 260px;
    }
    /** Grid 6 **/
    .module-grid-6 .bkmodule-fw .grid6-col:first-child .content_in {
        height: 520px;
    }
    .module-grid-6 .bkmodule-fw .grid6-col .content_in {
        height: 260px;
    }
    /** Grid 9 **/
    .module-grid-9 .bkmodule-fw ul li:first-child {
        height: 480px;
    }
    .module-grid-9 .bkmodule-fw ul li {
        height: 240px;
    }
    /** Grid 10 **/
    .module-grid-10 .bkmodule-fw .grid10-col:first-child .content_in {
        height: 480px;
    }
    .module-grid-10 .bkmodule-fw .grid10-col .content_in {
        height: 240px;
    }
    /** Grid 11 **/
    .module-grid-11 .bkmodule-fw .grid11-col-1 .content_in:first-child, .module-grid-11 .bkmodule-fw .grid11-col-3 .content_in:last-child {
        height: 480px;
    }
    .module-grid-11 .bkmodule-fw .grid11-col .content_in {
        height: 240px;
    }
}
@media (max-width: 1109px){
    #page-wrap {
        width: 1000px;
    }
    .bkwrapper {
        width: 1000px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .bkmodule {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    /*** header ***/
    .header-inner {
        display: inherit;   
    }
    .header .logo img {
        width: inherit;
    }
    .header .logo a {
        display: block;
        display: inline-block;
    }
    .header .logo {
        float: none;
        text-align: center;
        width: 100%;
        display: inline-block;                
     }
    .header-wrap .header-banner {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }       
    .header-social {
        position: static;
    }  
    .header-social li {
        float: none;
        display: inline-block;
    }   
    .header-social ul {
        margin-bottom: 0;
    }
    .bk-header-index-wrap li {
        width: 25%;
    }
    .bk-header-index-wrap li:last-child {
        display: none;
    }
    /*** Top menu ***/    
    #main-search input {
        text-align: center;
        padding-right: 50px;  
    }
/*** module-feature2 ***/
    .module-feature2 .readmore {
        display: none;
    }
    .module-feature2 .content_out .excerpt {
        margin-bottom: 0;
    }
    .module-feature2 .content_out .meta-wrap {
        margin-top: 20px;
    }
/** Feature Slider **/
    .module-boxed-slider .flexslider {
        height: 480px;
    }
    .module-boxed-slider .flexslider .item .thumb {
        height: 480px;
    }
    .has-sb .module-boxed-slider .flexslider {
        height: 400px;
    }
    .has-sb .module-boxed-slider .flexslider .item .thumb {
        height: 400px;
    }
/** module-fw-slider **/
    .module-fw-slider .flexslider {
        height: 460px;
    }
    .module-fw-slider .flexslider .item .thumb {
        height: 460px;
    }
/*** Single Page ***/
    #bk-parallax-feat, #bk-fw-feat {
        height: 480px;
    }
    #bk-parallax-feat .s-feat-img {
        height: 480px;
        background-position: 50% 50% !important;
        background-attachment: initial;
    }
    #bk-fw-feat .s-feat-img {
        height: 480px;
    }
    .bk-embed-video, .bk-embed-audio {
        width: 40%;
    }   
}
@media (min-width: 991px){
    .canvas-menu-wrap.right {
        float: right;
        margin-right: 40px;
        margin-left: 30px;
    }
    .header-3 .main-nav .canvas-menu-wrap.right {
        float: right;
        margin-right: 10px;
        margin-left: 30px;
    }
    .header-6 .main-nav .canvas-menu-wrap.right {
        float: right;
        margin-right: 60px;
        margin-left: 30px;
    }
	
}
@media (max-width: 991px){
	.ajax-search-wrap{
		top: 50% !important;
		transform: translateY(-50%);
	}
    #page-wrap {
        width: 780px;
    }
    .bkwrapper {
        width: 780px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .rubik-show-991 {
        display: block;
    }
    .rubik-hidden-991 {
        display: none;
    }
    .ajax-search-result .s-list .content_out.small-post:nth-child(3) {
        margin-top: 30px;
    }
    .ajax-search-result .s-list .content_out.small-post:nth-child(3n+1) {
        clear: none;
    }
    .ajax-search-result .s-list .content_out.small-post:nth-child(2n+1) {
        clear: both;
    }
    /*** Menus ***/
    .main-nav-container {
        width: 100%;
    }
    .rubik-sticky-header .header-logo-wrapper {
        padding-right :0;
    }
    .bk-page-header .main-nav, .bk-page-header .main-nav-container {
        border-top: 0 !important;
    }
    /** Header 1 **/
    .header-1 .header-wrap .canvas-menu-wrap .logo {
        display: table-cell;
        vertical-align: middle;
    }
    .header-1 .header-wrap .canvas-menu-wrap .logo img{
        max-height: 55px;
        display: block;
    }
    .header-1 .main-nav .canvas-menu-wrap {
        display: table;
    }
    .header-1 .header-logo-wrapper, .top-bar,
    .header-12 .header-logo-wrapper {
        display: none;
    }
    /** header 2 **/
    .header-2 .main-nav .canvas-menu-wrap, .header-5 .main-nav .canvas-menu-wrap, .canvas-menu-wrap {
        margin-right: 0;
    }
    /** Header 3 ***/
    .header-3 .main-nav .canvas-menu-wrap {
        margin-right: 30px;
    }
    .header-3 .main-nav .canvas-menu-wrap {
        display: block;
    }
    .header-3 .main-nav .header-logo-wrapper {
        padding-right: 0;
    }
    .header-3 .main-nav .header-logo-wrapper img, .header-4 .header-wrap .canvas-menu-wrap .logo img {
        max-height: 80px;
        width: auto;
    }
    .header-3 .header-wrap .logo, .header-4 .header-wrap .canvas-menu-wrap .logo  {
        line-height: 101px;   
    }
    .main-menu, .header-type-2 .main-menu, .header-type-2 .logo, .header-3 .main-menu{
        display: none;   
    }
    /** Header 4 **/
    .header-4 .main-nav .canvas-menu-wrap {
        display: table;
        border-bottom: 0;
    }
    /** Header 6 **/
    .header-6 .main-nav-inner {
        padding: 0;
        width: 100% !important;
    }
    .header-6 .main-nav-container {
        box-sizing: border-box !important;
    }    
    
    .header-7 .header-wrap .logo {
        line-height: 66px;
    }
    .header-7 .main-nav .header-logo-wrapper img {
        max-height: 60px;
        width: auto;
    }
    .header-12 .main-nav .ajax-search-wrap, .header-12 .main-nav .rubik-ajax-search-bg {
        display: block;
    }
    /** Header Index **/
    .bk-header-index-wrap li {
        width: 33.333%;
    }
    .bk-header-index-wrap li:nth-child(4) {
        display: none;
    }
/*** Module Feature 1 ***/
    .module-feature1 .primary-post h4 {
        font-size: 24px !important;
    }
    .module-feature1 .content_in .title {
        font-size: 20px !important;
    }
    .module-feature1 .content_in .post-wrap {
        height: 280px;
    }
/*** module-feature2 ***/
    .module-feature2 .feat-img {
        float: none;
    }
    .module-feature2 .flexslider {
        height: auto !important;
    }
    .module-feature2 .post-c-wrap {
        padding-left: 15px;
        margin-top: 26px;
    }
    .module-feature2 .flex-direction-nav {
        height: 50px;
        margin-top: 30px;
        position: relative;
    }
    .module-feature2 .flex-direction-nav li a.flex-next, .module-feature2 .flexslider:hover .flex-next {
        left: 65px;
        right: inherit;
    }
    .module-feature2 .flex-direction-nav li a.flex-prev, .module-feature2 .flexslider:hover .flex-prev {
        left: 15px;
        right: inherit;
    }
    .module-feature2 .content_out .excerpt {
        max-height: inherit;
    }
/*** Module Feature 3 **/
    .module-feature3-block .rubik-featured3-main .thumb, .module-feature4-block .rubik-featured4-main .thumb {
        height: 420px;
    }
    .module-feature3-block .list-small-post li, .module-feature4-block .list-small-post .small-post {
        border-color: rgba(0, 0, 0, 0.16);
    }
    .module-feature3-block .list-small-post li:nth-child(2n+2) {
        border-right: 0;
    }
    .module-feature3-block .list-small-post, .module-feature4-block .list-small-post {
        margin-top: 30px;
    }
    .module-feature3-block .list-small-post li:nth-child(n+3) {
        margin-top: 30px;
    }
/*** Grid Carousel ***/
    .module-grid-carousel .carousel-single-item .post-c-wrap .title {
        font-size: 24px !important;
    }
    .module-grid-carousel .carousel-double-item .post-c-wrap .title {
        font-size: 22px !important;
    }
/*** module-hero ***/
    .module-hero > div.row > div {
        margin-top: 30px;
    }
    
    .module-hero > div.row > div:first-child, .module-hero > div.row > div:first-child .list-small-post li:last-child {
        margin-top: 0;
    }
    .module-hero .small-posts-col:first-child {
        padding-right: 15px;
        margin-bottom: 30px;
    }
    .module-hero .small-posts-col:first-child .content_in {
        padding-right: 15px;
    }
    
    .module-hero .small-posts-col:last-child {
        padding-left: 15px;
        clear: both;
        margin-top: 30px;
    }
    .module-hero .small-posts-col:last-child .content_in {
        padding-left: 15px;
    }
    .module-hero .small-posts-col:last-child li:last-child {
        margin-top: 0;
    }
    .module-hero .large-post {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
/** Featured Slider **/
    .featured-slider-wrapper, .gallery-wrap, .slick-initialized .bk-slick-thumbnail {
        max-height: 480px;
    }
/** Boxed Slider **/
    .module-boxed-slider .flexslider {
        height: 420px;
    }
    .module-boxed-slider .flexslider .item .thumb {
        height: 420px;
    }
/** Tech Grid & Pyramid Grid**/
    .module-tech-grid ul li .post-c-inner, .module-pyramid-grid ul li .post-c-inner {
        padding: 15px !important;
    }
    .module-tech-grid ul li .title, .module-pyramid-grid ul li .title {
        font-size: 20px !important;
    }
    .module-tech-grid ul li:first-child .title {
        font-size: 24px !important;
    }
/** Pyramid Grid **/
    .module-pyramid-grid ul li .title {
        font-size: 20px !important;
    }
    .module-pyramid-grid ul li:first-child .title, .module-pyramid-grid ul li:nth-child(2) .title {
        font-size: 24px !important;
    }
    .module-pyramid-grid ul li:first-child , .module-pyramid-grid ul li:nth-child(2) {
        height: 300px
    }
/** module-fw-slider **/   
    .module-fw-slider .flexslider {
        height: 400px;
    } 
    .module-fw-slider .flexslider .item .thumb {
        height: 400px;
    }
    .module-fw-slider .post-c-wrap .post-c-inner, .module-boxed-slider .post-c-wrap .post-c-inner{
        width: 80%;
    }
/*** module-row ***/
    .module-row ul li:nth-child(2n+1) {
        clear: both;
    }
    .module-row ul li:nth-child(n+3), .module-row.layout-4.wsb-module ul li:nth-child(n+3) {
        margin-top: 30px;
    }
    .module-row ul li:nth-child(3n+1), .module-row.layout-4.wsb-module ul li:nth-child(3n+1) {
        clear: none;
    }
    .module-row.layout-4.wsb-module ul li:nth-child(2n+1) {
        clear: both;
    }
/*** Block 2 FW ***/
    .module-block-2-fw .content_out.small-post:nth-child(3) {
        margin-top: 30px;
    }
    .module-block-2-fw .content_out.small-post:nth-child(3n+1) {
        clear: none;
    }
    .module-block-2-fw .content_out.small-post:nth-child(2n+1) {
        clear: both;
    }
/*** Block 5 FW **/
    .has-sb .module-block-5 ul li:nth-child(3n+1), .fullwidth .module-block-5 ul li:nth-child(4n+1) {
        clear: none;
    }
    .has-sb .module-block-5 ul li:nth-child(2n+1), .fullwidth .module-block-5 ul li:nth-child(3n+1) {
        clear: both;
    }
    .has-sb .module-block-5 ul li:nth-child(3), .fullwidth .module-block-5 ul li:nth-child(4) {
        margin-top: 25px;
    }
    .module-block-5 .post-c-wrap .title {
        font-size: 20px !important;
        margin-bottom: 2px;
    }
/** Row FW **/
    .module-row.fw-module ul li:nth-child(3n+1) {
        clear: none;
    }
    .module-row.fw-module ul li:nth-child(2n+1) {
        clear: both;
    }
    .module-row.fw-module ul li:nth-child(n+3) {
        margin-top: 40px;
    }
/*** bk-masonry ***/
    .fullwidth .bk-masonry-content .item:nth-child(n+3) {
        margin-top: 40px;
    }
/** Large Blog **/
    .module-large-blog ul li.col-md-6:nth-child(2) .content_out {
        margin-top: 60px;
    }
/*** Square Grid ***/
    .square-grid-3 ul li:nth-child(n+3){
        margin-top: 30px;
    }
/** Grid 1 **/
    .module-grid-1 ul li {
        width: 50%;
    }
    .module-grid-1 ul li:first-child .title, .module-grid-1 ul li:nth-child(2) .title {
        font-size: 22px !important;
    }
    .module-grid-1 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 2 ***/
    .module-grid-2 ul li {
        width: 50%;
    }
    .module-grid-2 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-2 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 3 ***/
    .module-grid-3 ul li:first-child, .module-grid-3 ul li {
        width: 50%;
    }
    .module-grid-3 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-3 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 4 ***/
    .module-grid-4 ul li:nth-child(2), .module-grid-4 ul li {
        width: 50%;
    }
    .module-grid-4 ul li:last-child {
        width: 100%;
    }
    .module-grid-4 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-4 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 5 ***/
    .module-grid-5 ul li {
        width: 50%;
    }
    .module-grid-5 ul li:last-child {
        width: 100%;
    }
    .module-grid-5 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-5 ul li .title {
        font-size: 20px !important;
    }
/** Grid 6 **/
    .module-grid-6 .grid6-col {
        position: static;
        width: 50%;
    }
    .module-grid-6 .grid6-col:last-child {
        width: 100%;
    }
    .module-grid-6 .grid6-col:last-child .content_in {
        width: 50%;
        float: left;
    }
    .module-grid-6 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-6 ul li .title {
        font-size: 20px !important;
    }
/** Grid 7 **/
    .module-grid-7 .grid7-col {
        position: static;
        width: 100%;
        margin-top: 30px;
    }
    .module-grid-7 .grid7-col .content_out {
        width: 48%;
        float: left;
        margin-right: 4%;
    }
    .module-grid-7 .grid7-col .content_out:last-child {
        margin-right: 0;
        margin-top: 0;
    }
    .module-grid-7 .grid7-col:first-child {
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    .module-grid-7 .grid7-col:first-child .content_in .post-c-wrap {
        bottom: 0;
    }
    .module-grid-7 ul li:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-7 ul li .title {
        font-size: 18px !important;
    } 
/** Grid 8 **/
    .module-grid-8 .grid8-col {
        position: static;
        width: 100%;
        margin-top: 30px;
    }
    .module-grid-8 .grid8-col .content_out {
        width: 48%;
        float: left;
        margin-right: 4%;
    }
    .module-grid-8 .grid8-col .content_out:last-child {
        margin-right: 0;
        margin-top: 0;
    }
    .module-grid-8 .grid8-col:first-child {
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    .module-grid-8 ul li:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-8 .grid8-col:first-child .content_in .post-c-wrap {
        bottom: 0;
    }
    .module-grid-8 ul li .title {
        font-size: 18px !important;
    }
/** Grid 9 **/
    .module-grid-9 ul li {
        width: 50%;
    }
    .module-grid-9 ul li.grid-post-0 .title{
        font-size: 22px !important;
    }
    .module-grid-9 ul li.bk-post-title-small .title{
        font-size: 20px !important;
    }
/** Grid - 10 ***/
    .module-grid-10 .grid10-col {
        width: 50%;
        position: static;
        float: left;
    }
    .module-grid-10 .grid10-col.grid10-col-3 {
        width: 100%;
    }
    .module-grid-10 .grid10-col.grid10-col-3 > div {
        width: 50%;
        float: left;
    }
    .module-grid-10 .grid10-col:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-10 .grid10-col .title {
        font-size: 20px !important;
    }
    .module-grid-10 .grid10-bottom-col {
        width: 100%;
    }
    .module-grid-10 .grid10-bottom-col > div {
        width: 50%;
        float: left;
    }
    /** Grid- 11 **/
    .module-grid-11 .grid11-col {
        width: 50%;
    }
    .module-grid-11 .grid11-col:last-child {
        width: 100%;
    }
    .module-grid-11 .grid11-col:last-child > div {
        width: 50%;
        float: left;
        height: 225px !important;
    }
    .module-grid-11 .grid11-col .title {
        font-size: 20px !important;
    }
    .module-grid-11 .grid11-col-1 .grid-post-0 .title, .module-grid-11 .grid11-col-3 .grid-post-6 .title {
        font-size: 22px !important;
    }
    /** Grid 14 **/
    .module-grid-14 ul li:first-child {
        width: 100%;
    }
    .module-grid-14 ul li {
        width: 33.33%;
        max-height: 320px;
    }
    .module-grid-14 ul li:nth-child(2) .post-c-wrap, .module-grid-14 ul li:nth-child(5) .post-c-wrap {
        border-left: 1px solid #e5e5e5;
    }
    .module-grid-14 li:nth-child(4) .post-c-wrap {
        border-left: 0;
        border-bottom: 0;
    }
    .module-grid-14 ul li:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-14 ul li .title {
        font-size: 18px !important;
    }

/*** Youtube Playlist ***/
    .module-youtube-playlist.playlist-layout1 .bk-currently-playing {
        padding-right: 15px;
    }
    .module-youtube-playlist.playlist-layout1 .bk-playlist-videos {
        padding-left: 15px;
        padding-right: 15px;
    }
/*** Blog ***/
    .bk-blog-content {
        margin-right: 0;
    }
/** Sidebar **/
    .has-sb > div > .content-wrap, .has-left-sidebar > div > div {float: none !important;}
    
    .single .main, .single .sidebar {float: none !important;}
    
    .has-sb .sidebar {float: none !important;}
    
    .has-sb {
        width: 100%;
    }
    .sidebar-wrap {
        width: 100% !important;
    }
    .sidebar {
        border-left: none;
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-top: 52px;
    }
    .widget_latest_posts_3 .row-type h4, .widget_latest_posts_5 .row-type h4, .widget_latest_posts_7 .row-type:nth-child(n+2) h4 {
        font-size: 18px;
    }
/** Social Counter **/

/** Ads **/
    .bk-ads li {
        margin-top: 20px;
    }
    .bk-ads li:first-child {
        margin-top: 0;
    }
/*** Single Page ***/
    #bk-parallax-feat, #bk-fw-feat {
        height: 420px;
    }
    #bk-parallax-feat .s-feat-img {
        height: 420px;
    }
    #bk-fw-feat .s-feat-img {
        height: 420px;
    }
    .bk-embed-audio {
        height:150px !important;
    }
    .s-template-6 .s_header_col8 {
        position: static;
    }
/** Shortcode **/
    .bkparallaxsc, .bkparallaxsc .parallaximage {
        max-height: 430px;
    }
    .bkparallaxsc-details {
        padding: 0 100px;
    }
    .bkteamsc .team-member.four-item:nth-child(4n+1){
        clear: none;
    }
    .bkteamsc .team-member.four-item:nth-child(3n+1) {
        clear: both;
    }
    .bkteamsc .team-member.four-item:nth-child(n+4){
        margin-top: 30px;
    }
    /** Footer **/
    .footer-d3 .footer-sidebar, .footer_1_3 .footer-sidebar {
        width: 100% !important;
    }
    .footer-sidebar {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .footer-sidebar:nth-child(n+2){
        margin-top: 40px;
    }
}
@media (max-width: 768px) {
    #page-wrap {
        width: 750px;
    }
    .bkwrapper {
        width: 750px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .module-title, .page-title {
        margin-bottom: 44px;
    }
    .has-sb .bk-masonry-wrap, .has-sb .module-title {
        margin-right: 0;
    }
    .ajax-search-result .s-list .content_out.small-post:nth-child(2) {
        margin-top: 30px;
    }
    .ajax-search-result .s-list .content_out.small-post:nth-child(2n+1) {
        clear: none;
    }
/** Module Hero **/
    .module-hero > div.row > div, .module-hero .list-small-post li:last-child, .module-hero > div.row > div:first-child .list-small-post li:last-child {
        margin-top: 30px;
    }
    .module-hero .small-posts-col:last-child li:last-child {
        margin-top: 30px;
    }
    .module-hero .content_in .post-c-wrap .title {
        font-size: 22px !important;
    }
    .module-hero .large-post .post-c-wrap .title {
        font-size: 24px !important;
    }
/*** Row type **/
    .module-row .row-type {
        width: 50%;
        padding: 0 15px;
        float: left;        
    }
    .bk-masonry-content .item{
        width: 50%;
        padding: 0 15px;        
    }
    .row-type h4 {
        font-size: 24px !important;
    }
    .row-type.col-sm-6  h4, .row-type.col-xs-6 h4 {
        font-size: 20px !important;
    }
    .module-row.layout-4.wsb-module ul li:nth-child(3n+1) {
	   clear: none;
    }
    .module-row.layout-4.wsb-module ul li:nth-child(2n+1) {
        clear: both;
    }
    .module-row.layout-4.wsb-module ul li:nth-child(n+4) {
    	margin-top: 0;
    }
    .module-row.layout-4.wsb-module ul li:nth-child(n+3) {
        margin-top: 40px;
    }
/*** Feature 3 **/
    .module-feature3-block .list-small-post li {
        border-right: 0 !important;
    }
    .module-feature3-block .list-small-post li .post-c-wrap {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .module-feature3-block .list-small-post li:first-child .post-c-wrap{
        border-top: 0;
    }
    .module-feature3-block .list-small-post li:nth-child(n+1) {
        margin-top: 0;
    }    
    .module-feature3-block .list-small-post li:nth-child(n+2) .post-c-wrap{
        margin-top: 15px;
        padding-top: 15px;
    }
    .module-feature3-block .large-post-content .title, .module-feature4-block .large-post-content .title {
        font-size: 24px !important;
    }
    .module-feature3-block .list-small-post .title, .module-feature4-block .list-small-post .title {
        font-size: 18px !important;
    }
/*** bk-slider-module ***/
    .bk-slider-module .flexslider .item h4 {
        font-size: 24px !important;
    }
    .bk-slider-module .flexslider .item, .bk-slider-module .flexslider {
        height: auto;
    }
/** SQuare Grid **/
    .module-square-grid .content_in .post-c-wrap .title {
        font-size: 24px !important;
    }
/** Carousel **/
    .module-carousel .post-c-wrap .title {
        font-size: 22px !important;
    }
    .module-carousel-type2 .post-c-wrap .title {
        font-size: 22px !important;
    }
/** Featured slider module **/
    .featured-slider-wrapper, .gallery-wrap, .slick-initialized .bk-slick-thumbnail {
        max-height: 455px;
    }
    .featured-slider-wrapper .post-c-wrap .title {
        font-size: 30px !important;
    }
/*** Module Feature 1 ***/
    .module-feature1 .primary-post h4 {
        font-size: 24px !important;
    }
    .module-feature1 .content_in .title {
        font-size: 22px !important;
    }
/** Block 1 **/
    .module-block-1 .list-small-post li:nth-child(n+2) .post-c-wrap {
        padding-top: 15px;
    }
    .fullwidth .module-block-1 .list-small-post li:nth-child(2) {
        margin-top: 25px;
    }
    .fullwidth .module-block-1 .post-c-wrap .title {
        font-size: 26px !important;
    }
    .fullwidth .module-block-1 .content_out.small-post h4, .content_out.small-post h4 {
        font-size: 17px !important;
    }
/*** Block 2 ***/
    .module-block-2 .content_out.small-post:nth-child(2) {
        margin-top: 30px;
    }
    
/*** Block 2 FW ***/
    .module-block-2-fw .content_out.small-post:nth-child(2), .module-block-2-fw .content_out.small-post:nth-child(3) {
        margin-top: 30px;
    }

/*** Block 3 ***/
    .module-block-3 .list-small-post li .post-c-wrap {
        padding-top: 15px;
    }
/*** Block 4 FW **/
    .module-block-4 .list-small-post li:nth-child(n+3) .post-c-wrap {
        padding-top: 15px;
    }
    .square-grid-type .post-c-wrap .title {
        font-size: 22px !important;
    }
/*** Block 5 FW ***/
    .module-block-5 ul li:nth-child(n+3) {
        margin-top: 25px;
    }
    .module-block-5 .post-c-wrap .title {
        font-size: 20px !important;
    }
    .fullwidth .module-block-5 ul li:nth-child(3n+1) {
        clear: none;
    }
    .fullwidth .module-block-5 ul li:nth-child(2n+1) {
        clear: both;
    }
/*** Block 6 ***/
    .module-block-6 .list-small-posts li .post-c-wrap {
        padding-top: 15px;
    }
/** Sidebar **/
    .related-box ul li:nth-child(n+2) {
        margin-top: 20px;
    }
/** Single page **/
    .bk-embed-video, .bk-embed-audio {
        top: 5%;   
    }
    
/** Shortcode **/
    .bkparallaxsc-details {
        padding: 0 50px !important;
    }
    .bkparallaxsc, .bkparallaxsc .parallaximage {
        max-height: 350px !important;
    }
    .bkteamsc .team-member.three-item:nth-child(3n+1), .bkteamsc .team-member.four-item:nth-child(3n+1){
        clear: none;
    }
    .bkteamsc .team-member.three-item:nth-child(n+4), .bkteamsc .team-member.four-item:nth-child(n+4){
        margin-top: 0;
    }
    .bkteamsc .team-member.three-item:nth-child(2n+1), .bkteamsc .team-member.four-item:nth-child(2n+1){
        clear: both;   
    }
    .bkteamsc .team-member.three-item:nth-child(n+3), .bkteamsc .team-member.four-item:nth-child(n+3){
        margin-top: 30px;
    }

    /*** Module Feature 1 ***/
    .module-feature1 .sub-post, .module-feature1 .sub-post:last-child {
        margin-top: 40px;
    }
    /*** Square Grid ***/
    .module-square-grid ul li:nth-child(n+2){
        margin-top: 30px;
    }
    /** Block 1 **/
    .module-block-1 .list-small-post {
        margin-top: 32px;
    }
    /** Block 3 **/
    .module-block-3 .large-post:nth-child(n+1) {
        margin-top: 25px;
    }
    .module-block-4 .item.square-grid-type:nth-child(n+1) {
        margin-top: 25px;
    }
    /** Module Block 11 **/
    .module-block-11 .bk-block-11-wrap .title, .module-block-12 .bk-block-12-wrap .title {
        font-size: 17px !important;
    }
    .module-block-11 ul li:nth-child(2) .post-c-wrap, .module-block-12 ul li:nth-child(2) .post-c-wrap {
        padding-top: 15px;
        border-top: 1px solid #f2f2f2;
    }
    .module-block-11 .content_out.small-post:nth-child(2), .module-block-12 .content_out.small-post:nth-child(2) {
        margin-top: 15px;
    }
    .footer-d2 .footer-sidebar {
        width: 100% !important;
    }
    .s-post-header {
        max-width: 100%;
    }
}
@media (max-width: 749px) {
    #page-wrap {
        width: 100%;
    }
    .rubik-sticky-header .main-nav-inner {
        padding: 0 15px;
    }
    .header-6 .rubik-sticky-header .main-nav-inner .main-nav-container {
        padding-left: 15px;
    }
    .canvas-menu-wrap .menu-title {
        opacity: 0;
        font-size: 0;
        height: 60px;
        overflow-y: hidden;
    }
    .header-3 .main-nav .header-logo-wrapper, .header-3 .main-nav .main-nav-container, .header-3 .main-nav .main-menu > ul > li,
    .bk-page-header.header-3 .main-menu > ul > li > a:after {
        height: 80px;
    }
    .header-3 .main-nav .header-logo-wrapper, .header-3 .main-nav .main-menu > ul > li > a, .header-3 .main-nav .ajax-form-search i {
        line-height: 80px;
    }
    .header-3 .main-nav .ajax-search-result {
        margin-top: 80px;
    }
    .header-3 .main-nav .canvas-menu-wrap {
        min-height: 80px;
    }
    .header-3 .main-nav .ajax-form input {
        height: 76px;
    }
    .header-3 .main-nav .header-logo-wrapper img {
        max-height: 50px;
        width: auto;
        max-width: 150px;
        height: auto;
    }
    .header-3 .header-wrap .logo, .header-4 .header-wrap .canvas-menu-wrap .logo {
        line-height: 76px;
    }
    .header-3 .main-nav .canvas-menu-wrap {
        margin-right: 15px;
    }
    .bk-ud-logout-mobile {
        display: block;
        padding: 0 10px;
    }
    .row-type h4 {
        font-size: 24px !important;
    }
    .row-type.col-sm-6 h4, .row-type.col-xs-6 h4 {
        font-size: 20px !important;
    }
    .square-grid-type .post-c-wrap .title  {
        font-size: 22px !important;        
    }    
    .bkwrapper {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .module-breaking-carousel .content_out.small-post .meta .post-date, .module-breaking-carousel .content_out.small-post .meta .post-category:after {
        display: none;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .module-hero .row-type, .module-row .row-type, .module-masonry .row-type, .bk-masonry-content .item {
        width: 100%;
        float: none;
    }
    .module-hero .row-type:nth-child(n+2), .module-row .row-type:nth-child(n+2), .module-masonry .row-type:nth-child(n+2), .bk-masonry-content .item:nth-child(2) {
        margin-top: 40px;
    }
    .module-hero .content_in .post-c-wrap .title {
        font-size: 22px !important;
    }
    .module-hero .large-post .post-c-wrap .title {
        font-size: 24px !important;
    }
/** Featured slider module **/
    .featured-slider-wrapper .post-c-wrap .title {
        font-size: 28px !important;
        margin: 12px 0;
    }
    
/** Feature 1 **/
    .module-feature2 .content_out h4 {
        font-size: 24px !important;
    }
    .module-feature2 .content_out .excerpt {
        font-size: 15px;
    }
    .module-feature2 .content_out .meta-wrap {
        margin-top: 15px;
    }
/*** Feature 3 **/
    .module-feature3-block .large-post-content .title, .module-feature4-block .large-post-content .title {
        font-size: 28px !important;
    }
/** Slider **/
    .bk-slider-module .flexslider .item h4 {
        font-size: 28px !important;
        margin: 15px 0;
    }
/*** Grid Carousel ***/
    .module-grid-carousel .carousel-single-item .post-c-wrap .title {
        font-size: 24px !important;
        margin: 10px 0 5px 0;
    }
    .module-grid-carousel .carousel-double-item .post-c-wrap .title {
        font-size: 22px !important;
        margin: 10px 0 5px 0;
    }
    .module-grid-carousel .carousel-single-item .thumb{
        height: 482px;
    }
    .module-grid-carousel .carousel-double-item .thumb{
        height: 240px;
    }
    .module-grid-carousel .post-c-wrap .post-c-inner {
        width: 95%;
    }
/** module-large-blog **/
    .module-large-blog .post-c-wrap .meta {
        font-size: 12px;
    }
    .module-large-blog .post-c-wrap h4 {
        font-size: 24px !important;
    }
    /** Tech Grid **/    
    .module-tech-grid ul li {
        width: 50%;
    }
    .module-tech-grid ul li:last-child {
        width: 100%;
    }
    .module-tech-grid ul li:first-child {
        width:100%;
    }
    .module-tech-grid ul li:nth-child(2), .module-tech-grid ul li:nth-child(3) { 
        width: 50%;
    }
    .module-tech-grid.normal-grid ul li:nth-child(1) {
        border-left: 0;
        border-right: 0;
    }
    .module-tech-grid.normal-grid ul li:nth-child(3) {
        border-left: 1px solid #fff;
        border-right: 0;
    }
    .module-tech-grid.normal-grid ul li:nth-child(4) {
        border-right: 1px solid #fff;
        border-left: 0;
    }
    .module-tech-grid.normal-grid ul li:nth-child(5) {
        border-left: 1px solid #fff;
        border-right: 0;
    }
    .module-tech-grid.normal-grid ul li:nth-child(6) {
        border-left: 0;
        border-right: 0;
    }
    .module-tech-grid ul li .title {
        font-size: 20px !important;
    }
    .module-tech-grid ul li:first-child .title {
        font-size: 24px !important;
    }
/** Pyramid Grid **/
    .module-pyramid-grid ul li {
        height: 300px;
    }
    .module-pyramid-grid ul li:nth-child(3), .module-pyramid-grid ul li:nth-child(4) {
        width: 50%;
    }
    .module-pyramid-grid ul li:nth-child(4) {
        border-right: 0;
    }
    .module-pyramid-grid ul li:nth-child(5) {
        width: 100%;
        border-left: 0;
    }
    .module-pyramid-grid ul li .title {
        font-size: 22px !important;
    }
    .module-pyramid-grid ul li:first-child .title, .module-pyramid-grid ul li:nth-child(2) .title {
        font-size: 24px !important;
    }
/** Grid 1 **/
    .module-grid-1 ul li, .module-grid-1 ul li:first-child, .module-grid-1 ul li:nth-child(2) {
        width: 100%;
    }
    .module-grid-1 ul li:first-child .title, .module-grid-1 ul li:nth-child(2) .title {
        font-size: 24px !important;
    }
    .module-grid-1 ul li .title {
        font-size: 22px !important;
    }
/*** Grid 2 ***/
    .module-grid-2 ul li:first-child, .module-grid-2 ul li:nth-child(2) {
        height: 225px;
    }
    .module-grid-2 ul li, .module-grid-2 ul li:first-child {
        width: 100%;
    }
    .module-grid-2 ul li:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-2 ul li .title {
        font-size: 22px !important;
    }
/*** Grid 3 ***/
    .module-grid-3 ul li:first-child {
        height: 225px;
    }
    .module-grid-3 ul li:first-child, .module-grid-3 ul li {
        width: 100%;
    }
    .module-grid-3 ul li:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-3 ul li .title {
        font-size: 22px !important;
    }
/*** Grid 4 ***/
    .module-grid-4 ul li:first-child {
        height: 225px;
    }
    .module-grid-4 ul li {
        width: 100% !important;
    }
    .module-grid-4 ul li:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-4 ul li .title {
        font-size: 22px !important;
    }
    /*** Grid 5 ***/
    .module-grid-5 ul li:first-child {
        height: 225px;
    }
    .module-grid-5 ul li {
        width: 100% !important;
    }
    .module-grid-5 ul li:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-5 ul li .title {
        font-size: 22px !important;
    }
/** Grid 6 **/
    .module-grid-6 .grid6-col:first-child .content_in {
        height: 225px;
        }
    .module-grid-6 .grid6-col {
        width: 100% !important;
    }
    .module-grid-6 .grid6-col .content_in {
        width: 100% !important;
    }
    .module-grid-6 ul li:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-6 ul li .title {
        font-size: 22px !important;
    }
/** Grid 7 **/
    .module-grid-7 ul li:first-child .title {
        font-size: 22px !important;
    }
/** Grid 8 **/
    .module-grid-8 ul li:first-child .title {
        font-size: 22px !important;
    }
/** Grid 9 **/
    .module-grid-9 ul li:first-child {
        height: 225px;
    }
    .module-grid-9 ul li {
        width: 100% !important;
    }
    .module-grid-9 ul li.grid-post-0 .title {
        font-size: 24px !important;
    }
    .module-grid-9 ul li.bk-post-title-small .title {
        font-size: 22px !important;
    }
/** Grid - 10 ***/
    .module-grid-10 .grid10-col:first-child .content_in {
        height: 225px;
    }
    .module-grid-10 .grid10-col, .module-grid-10 .grid10-col:first-child {
        width: 100%;
    }
    .module-grid-10 .grid10-col.grid10-col-3 > div {
        width: 100%;
    }
    .module-grid-10 .grid10-col:first-child .title {
        font-size: 24px !important;
    }
    .module-grid-10 .grid10-col .title {
        font-size: 22px !important;
    }
    .module-grid-10 .grid10-bottom-col > div {
        width: 100%;
    }
    /** Grid- 11 **/
    .module-grid-11 .grid11-col {
        width: 100%;
    }
    .module-grid-11 .grid11-col > div {
        width: 100% !important;
        height: 225px !important;
    }
    .module-grid-11 .grid11-col .title {
        font-size: 22px !important;
    }
    .module-grid-11 .grid11-col-1 .grid-post-0 .title, .module-grid-11 .grid11-col-3 .grid-post-6 .title {
        font-size: 24px !important;
    }
    /** Grid 14 **/
    .module-grid-14 ul li {
        width: 50%;
    }
    .module-grid-14 ul li:nth-child(4) .post-c-wrap, .module-grid-14 ul li:nth-child(6) .post-c-wrap {
        border-left: 1px solid #e5e5e5;
    }
    .module-grid-14 ul li:nth-child(5) .post-c-wrap {
        border-left: 0;
        border-bottom: 0;
    }
    .module-grid-14 ul li:first-child .title {
        font-size: 22px !important;
    }
    /** Block 1 **/
    .fullwidth .module-block-1 .post-c-wrap .title {
        font-size: 24px !important;
    }
    /** Module Block 6 **/
    .module-block-6 .block6-medium-posts li {
        width: 50%;
        float: left;
        margin-top: 30px;
    }
    .module-block-6 .large-post .title {
        font-size: 24px !important; 
    }
    .module-block-6 .block6-medium-posts li .title {
        font-size: 20px !important;
    }
    /** Module Block 7 **/
    .module-block-7 .block7-small-posts li {
        width: 50%;
        float: left;
        margin-top: 30px;
    }
    .module-block-7 .large-post .title {
        font-size: 24px !important; 
    }
    .module-block-7 .block7-small-posts li:first-child .title {
        font-size: 20px !important;
    }
    /** Module Block 8 **/
    .module-block-8 .block8-small-posts {
        margin-top: 30px;
    }
    .module-block-8 .large-post .title {
        font-size: 24px !important;
    }
    .module-block-8 .block8-small-posts .small-post .title {
        font-size: 16px !important;
    }
    /** Classic Blog **/
    .module-classic-blog .post-c-wrap .title {
        font-size: 20px !important;
    }
/** Single page **/
    .s-post-header {
        padding: 0;
    }
    .single-page .article-wrap > .row {
        margin: 0;
    }
    .single-page .sidebar {
        margin-top: 32px;
    }
    .bk-score-box {
        margin: 0 auto;
        float: none;
    }
    .bk-review-box .bk-summary {
        width: 100%;
        float: none;
        margin-bottom: 32px;
        background-color: #f8f8f8;
        padding: 12px;
    }
    .bk-author-box .bk-author-avatar {
        float: none;
        text-align: center;
        margin-bottom: 8px;
    }
    .bk-author-box .author-info {
        padding-left: 0;
        position: relative;
        text-align: center;
    }
    .bk-author-box .author-info .bk-author-page-contact {
        position: static;
        margin-top: 15px;
    }
    
/**.bk-review-box **/
    .bk-review-box {
        margin: 0 0 16px 0 !important;
        width: 100% !important;
        
    }
    
/*** Single Page ***/
    #bk-parallax-feat, #bk-fw-feat {
        height: 350px;
    }
    #bk-parallax-feat .s-feat-img {
        height: 350px;
    }
    #bk-fw-feat .s-feat-img {
        height: 350px;
    }
    .bk-embed-video, .bk-embed-audio {
        min-width: 300px 
    }
    .s-post-header h1 {
        font-size: 28px !important;
    }
    .single-page .icon-play {
        font-size: 35px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .single-page.bk-fullwidth .related-box .post-c-wrap h4 {
        font-size: 16px;
    }
/*** Footer ***/
    #footer-menu, .bk-copyright {
        float: none;
        text-align: center;
    }
    #footer-menu {
        margin-bottom: 4px;
    }
}
@media (max-width: 620px) {    
    /** Header Index **/
    .bk-header-index-wrap li {
        width: 50%;
    }
    .bk-header-index-wrap li .title:before {
        display: none;
    }
    .bk-header-index-wrap li:nth-child(3) {
        display: none;
    }
    /** module-classic-blog **/
    .module-classic-blog .bk-mask {
        width: 100%;
        height: auto;
        margin-right: 0;
        float: none;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .module-classic-blog.layout-2 .bk-mask {
        margin-left: 0;
        float: none;
    }
    .module-classic-blog .post-c-wrap {
        width: 100%;
        float: none;
        position: static;
    }   
    .module-classic-blog.layout-2 .post-c-wrap {
        right: auto;
        left: 0;
        float: none;
    }
    .square-grid-type .post-c-wrap .title  {
        font-size: 20px !important;        
    }   
    /** Carousel **/
    .module-carousel .post-c-wrap .title {
        font-size: 20px !important;
    }
    /** Row Type **/
    .row-type h4  {
        font-size: 24px !important;
    }
    .row-type.col-sm-6  h4, .row-type.col-xs-6 h4 {
        font-size: 20px !important;
    }
    /** Hero **/
    .module-hero .content_in .post-c-wrap .title {
        font-size: 20px !important;
    }
    .module-hero .large-post .post-c-wrap .title {
        font-size: 24px !important;
    }
    /** Grid 1 **/
    .module-grid-1 ul li:first-child .title, .module-grid-1 ul li:nth-child(2) .title {
        font-size: 20px !important;
    }
    .module-grid-1 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 2 ***/
    .module-grid-2 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-2 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 3 ***/
    .module-grid-3 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-3 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 4 ***/
    .module-grid-4 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-4 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 5 ***/
    .module-grid-5 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-5 ul li .title {
        font-size: 20px !important;
    }
/*** Grid 6 ***/
    .module-grid-6 ul li:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-6 ul li .title {
        font-size: 20px !important;
    }
/** Grid 7 **/
    .module-grid-7 .grid7-col {
        position: static;
        width: 100%;
        margin-top: 30px;
    }
/** Grid 8 **/
    .module-grid-8 .grid8-col {
        position: static;
        width: 100%;
        margin-top: 30px;
    }
/** Grid 9 **/
    .module-grid-9 ul li.grid-post-0 .title {
        font-size: 22px !important;
    }
    .module-grid-9 ul li.bk-post-title-small .title {
        font-size: 20px !important;
    }    
/** Grid - 10 **/
    .module-grid-10 .grid10-col:first-child .title {
        font-size: 22px !important;
    }
    .module-grid-10 .grid10-col .title {
        font-size: 20px !important;
    }     
/** Grid 11 **/
    .module-grid-11 .grid11-col .title {
        font-size: 20px !important;
    }
    .module-grid-11 .grid11-col-1 .grid-post-0 .title, .module-grid-11 .grid11-col-3 .grid-post-6 .title {
        font-size: 22px !important;
    }  
/** Block 5 **/
    .module-block-5 .post-c-wrap .title {
        font-size: 18px !important;
    }  
/** Module Square Grid **/
    .module-square-grid .content_in .post-c-wrap .title {
        font-size: 20px !important;
    }
/** module-carousel **/
    .module-carousel .post-c-wrap .title {
        font-size: 20px !important;
    }
/* Grid 14 */
    .module-grid-14 ul li:first-child .title{
        font-size: 22px !important;
    }
/*** Grid Carousel ***/
    .module-grid-carousel .carousel-single-item .post-c-wrap .title {
        font-size: 22px !important;
    }
    .module-grid-carousel .carousel-double-item .post-c-wrap .title {
        font-size: 20px !important;
    }
/** module-fw-slider **/   
    .module-fw-slider .flexslider {
        height: 350px;
    } 
    .module-fw-slider .flexslider .item .thumb {
        height: 350px;
    }
    .module-fw-slider .post-c-wrap .post-c-inner, .module-boxed-slider .post-c-wrap .post-c-inner  {
        width: 95%;
    }
    .module-fw-slider.bkmodule-middle-center .post-c-wrap .post-c-inner:before,
    .module-fw-slider.bkmodule-middle-center .post-c-wrap .post-c-inner:after,
    .module-boxed-slider.bkmodule-middle-center .post-c-wrap .post-c-inner:before,
    .module-boxed-slider.bkmodule-middle-center .post-c-wrap .post-c-inner:after {
        width: 70%;
    }
/*** Featured 3 **/
    .module-feature3-block .rubik-featured3-main .thumb, .module-feature4-block .rubik-featured4-main .thumb {
        height: 350px;
    }
/** Row Type **/
    .row-type h4 {
        font-size: 24px !important;
    }
    .row-type.col-sm-6  h4, .row-type.col-xs-6 h4 {
        font-size: 20px !important;
    }
/** Large Blog **/
    .module-large-blog .post-c-wrap {
        padding: 0;
    }
    .module-large-blog .post-c-wrap h4 {
        font-size: 22px !important;
    }
/** Small Posts **/
    .fullwidth .module-block-1 .content_out.small-post h4, .content_out.small-post h4 {
        font-size: 16px !important;
    }
    /** Sidebar **/
    .widget_latest_posts_3 .row-type h4, .widget_latest_posts_5 .row-type h4, .widget_latest_posts_7 .row-type:nth-child(n+2) h4 {
        font-size: 18px !important;
    }
/** Single **/
    .s-template-5 .s_header_wraper .bk-post-subtitle {
        display: none;
            
    }    
}
@media (max-width: 600px) {
	.main-nav-container{
		height: auto !important;
	}
	.canvas-menu-wrap.show-on-desktop{
		min-height: auto !important; 
	}
    .main-nav, .rubik-sticky-header {
        margin-top: 0 !important;
    }
    .header-1 .header-wrap .logo img {
        max-width: 80%;
    }
    .header-1 .header-wrap .canvas-menu-wrap .logo img{ 
        max-height: 40px;
        width: auto;
        max-width: 140px;
        height: auto;
    }
    /* Mailchimp */
    .rubik-inline-subscribeform .mc4wp-form-fields {
        display: block;
    }
    .rubik-inline-subscribeform .mc4wp-form .bk_mailchimp_module_heading {
        max-width: 100%;
    }
    .module_mailchimp_shortcode .rubik-boxed-layout {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .rubik-inline-subscribeform .mc4wp-form-fields p {
        flex: 0 0 100%;
        padding-right: 0;
        margin-bottom: 15px;
    }
    /** Ticker **/
    .ticker-title {
        width: 0 !important;
        overflow: hidden;
    }
    .ticker-content, .ticker-swipe {
        left: 0 !important;
    }
    .ticker-controls {
        display: none !important;
    }
/** Single Page **/
    .article-content .alignright, .article-content .alignleft {
        width: 100% !important;
        text-align: center;
    }
    .article-content .bk-inline-post-box.alignleft {
        display: inline;
        float: left;
        margin-right: 25px;
        margin-bottom: 30px;
        text-align: left;
    }
    .article-content .bk-inline-post-box.alignright {
        display: inline;
        float: right;
        margin-left: 25px;
        margin-bottom: 30px;
        text-align: left;
    }
    blockquote:before {
        display: none;
    }
    blockquote {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
	body:not(.single) .author-info,
	.single .author-info {
		padding-right: 0 !important;
		padding-left: 0px !important;
		width: 100%;
	}
	.bk-author-box.clearfix{
		flex-direction: column;
	}
	.bk-author-box .bk-author-avatar{
		order: 0;
		width: 128px;
		height: 128px;
	}
	body{
		overflow-x: hidden;
	}
	#pagination .page-numbers, .post-page-links a, .post-page-links > span{
		width: 35px !important;
	}
}
@media (max-width: 510px) {
    .location {
        display: none;
    }
    .bk-login-modal, .lwa-register.lwa-register-default {
        margin-left: -150px !important;
    }
    .lwa-modal {
        width: 300px !important;
    }
    .bk-breadcrumbs-wrap .breadcrumbs {
        padding: 16px 15px;
    }
    .main-nav-inner {   
        margin: 0;
        width: 100% !important;
    }
    .main-nav-container {     
        margin: 0;
        width: 100% !important;
    }
    .excerpt {
        text-align: justify;
        text-justify: inter-word;
    }
    .content_out.small-post h4 {
        font-size: 17px !important;
    }
    .content_out.small-post .meta {
        display: none;
    }
    .widget_index_posts .content_out.small-post .meta, .widget_latest_posts_6 .content_out.small-post .meta {
        display: block;
    }
    .ajax-search-result .content_out.small-post h4 {
        font-size: 16px !important;
    }
/*** Feature 3 **/
    .module-feature3-block .large-post-content .title, .module-feature4-block .large-post-content .title {
        font-size: 22px !important;
    }
/** BK Slider Module **/
    .bk-slider-module .flexslider .item h4 {
        font-size: 22px !important;
    }
    .bk-slider-module .post-c-wrap .post-c-inner, .has-sb .bk-slider-module .post-c-wrap .post-c-inner {
        padding: 20px 15px;
        width: 95%;
    }
    .bk-slider-module .flexslider .item h4 {
        margin: 15px 0 12px 0;
    }
/** Featured Slider module **/
    .featured-slider-wrapper, .gallery-wrap, .slick-initialized .bk-slick-thumbnail {
        max-height: 400px;
    }
    .module-featured-slider .inner-cell .innerwrap {
        padding: 0;
    }
    .featured-slider-wrapper .post-c-wrap .title {
        font-size: 20px !important;
    }
    .featured-slider-wrapper .post-c-wrap {
        padding: 25px 12px;
    }
    .featured-slider-wrapper .bk-control-nav {
        width: 40px;
        height: 40px;
        border-radius: 0;
        font-size: 20px;
    }
    .featured-slider-wrapper .bk-control-nav i {
        line-height: 36px;
    }
    /** Feature 2 slider ***/
    .module-feature2 .content_out h4 {
        font-size: 22px !important;
    }
    .module-feature2 .content_out .excerpt {
        font-size: 14px;
    }
    .module-feature2 .content_out .meta-wrap {
        margin-top: 15px;
    }
    .module-feature2 .flex-direction-nav li a:before {
        font-size: 25px;
        line-height: 35px;
    }
    .module-feature2 .flex-direction-nav li a {
        width: 35px;
        height: 35px;
    }
    .module-feature2 .flex-direction-nav li a.flex-next, .module-feature2 .flexslider:hover .flex-next {
        left: 50px;
    }
    .module-feature2 .flex-direction-nav {
        margin-top: 15px;
    }
    /** Large Blog **/
    .module-large-blog .post-c-wrap h4 {
        font-size: 20px !important;
    }
    .module-large-blog ul li .excerpt {
        font-size: 13px;
    }
    .module-large-blog.row-classic-layout .post-c-wrap h4 {
        margin-top: 30px;
    }
/** Tech Grid **/
    .module-tech-grid ul li { 
        width: 100% !important;
        height: 225px !important;
    }
    .module-tech-grid.normal-grid ul li {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .module-tech-grid ul li .title {
        font-size: 20px !important;
    }
    .module-tech-grid ul li:first-child .title {
        font-size: 22px !important;
    }
    /* Grid 14 */
    .module-grid-14 ul li:first-child .title{
        font-size: 20px !important;
    }
/** Pyramid Grid **/
    .module-pyramid-grid ul li {
        height: 260px !important;
    }
    .module-pyramid-grid ul li {
        width: 100% !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .module-pyramid-grid ul li .title {
        font-size: 20px !important;
    }
    .module-pyramid-grid ul li:first-child .title, .module-pyramid-grid ul li:nth-child(2) .title {
        font-size: 22px !important;
    }
/** Grid Carousel **/
    .module-grid-carousel .post-c-wrap .post-c-inner {
        width: 100%;
        padding: 20px 15px;
    }
/*** Module Feature 1 ***/
    .module-feature1 .primary-post h4 {
        font-size: 22px !important;
    }
    .module-feature1 .content_in .title {
        font-size: 20px !important;
    }
/** hero **/
    .module-hero .content_in .post-c-wrap .title {
        font-size: 20px !important;
    }
    .module-hero .large-post .post-c-wrap .title {
        font-size: 20px !important;
    }
/** Grid General **/
    .bk-grid-general .content_in .post-c-inner {
        padding: 20px 15px;
    }
/** Row Type 3 **/
    .module-row.layout-3 .post-c-wrap, .module-masonry.layout-3 .post-c-wrap, .module-large-blog.layout-2 .post-c-wrap {
        width: 100%;
        left: 0;
        margin-top: 20px !important;
        padding: 0;
    }
    /** Module Block 6 **/
    .module-block-6 .block6-small-posts li {
        width: 100%;
    }  
    /** Module Block 7 **/
    .module-block-7 .block7-small-posts li {
        width: 100%;
    }    
/** Sidebar **/


/** Social Counter **/
/** Sidebar **/

/** Single Template **/
    .main.col-md-8 {
        margin-top: 24px;
    }
    #bk-normal-feat {
        margin-top: 28px;
    }
    .single-page .main .article-content {
        padding-top: 24px;
    }
    /*** 1 ***/
    .single-page.s-template-2 #bk-normal-feat{
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 0;
    }
    .single-page .related-posts li {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        margin-top: 32px;
    }
    .single-page .main, .single-page .sidebar  {
        padding-left: 0;
        padding-right: 0;
    }
    .s-post-header h1 {
        font-size: 24px !important;
    }
    .s-template-5 .s_header_wraper {
        padding: 0 10px 15px 10px;
    }
    .s-template-5 .s_header_wraper h1, .s-template-6 .s_header_wraper h1 {
        font-size: 24px !important;
        margin-top: 12px;
    }
    .s-template-5 .single-share-box-no-cnt .share-box-wrap {
        padding: 0 10px;
    }
    .s-template-6 .s_header_wraper {
        padding: 0 10px;
        margin-top: 24px;
    }
    .s-template-6 .single-share-box-no-cnt .share-box-wrap {
        padding: 0 10px;
    }
    .bk-in-single-page .col-md-12 {
        padding: 0;
    }
    .s-post-nav {
        display: none;
    }
    .ajax-search-result {
        width: 100%;
    }
    .lwa-modal {
        width: 300px;
    }
    .bk-login-modal, .lwa-register.lwa-register-default {
        padding: 0 15px 20px;
    }
    .bk-login-title {
        padding: 10px 15px;
        margin: 0 -15px 20px;
    }
    .bk-recover-submit .bk-back-login, .bk-register-form-wrapper .bk-back-login {
        font-size:  10px;
    }
    .bk-recover-submit input[type="submit"], .bk-register-submit input[type="submit"] {
        font-size: 10px;
    }
    .single-page .icon-play {
        font-size: 30px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .s-template-5 .s-post-header .meta {
        display: none !important;
    }
/** Shortcode **/
    .bkparallaxsc, .bk_tabs, .bk_accordions, .bkinfobox, .bk_buttons, .bk_onethirds, .bk_twothird_onethird, .bk_onehalfs, .video-wrap-sc{
        margin-bottom: 30px;
    }
    .halfsc, .thirdsc {
        width: 100% !important;
        margin-top: 0;
    }
    .halfsc+.halfsc, .thirdsc+.thirdsc {
        margin-top: 20px;
    }
    .bkparallaxsc-details {
        padding: 0 15px;
    }
    .bkparallaxsc-details h3 {
        font-size: 20px !important;   
    }
    .bkparallaxsc-details {
        font-size: 14px !important;
    }
    .bkteamsc .team-member {
        width: 100% !important;
    }
    .bkteamsc .team-member {
        margin-top: 30px;
    }
    /*** Comment Link ***/
    .comment-author .comment-links {
        position: static;
        margin-top: 4px;
    }
    ol.commentlist ul.children {
        margin-left: 0;
        padding-left: 0;
    } 
    .widget-social-counter .layout-6 ul li .data .counter, .widget-social-counter .layout-6 ul li .data .subscribe,
    .widget-social-counter .layout-7 ul li .data .counter, .widget-social-counter .layout-7 ul li .data .subscribe {
        font-size: 16px;
    }    
}
@media (max-width: 400px) {
    .row-type .excerpt {
        padding: 0;
    }
    .loadmore span.ajaxtext {
        width: 100%;
    }
    .meta .post-date {         
        display: none !important;
    } 
    .bk-related-posts .meta .post-date {
        display: block !important;
    }
    .widget_index_posts .meta .post-date , .widget_latest_posts_6 .meta .post-date{
        display: inline-block !important;
    }
    .s-template-5 .s_header_wraper h1 {
        font-size: 20px !important;
    }
/** Title **/
    .content_out.small-post h4 {
        font-size: 15px !important;
    }
    .featured-slider-wrapper .post-c-wrap .title {
        font-size: 18px !important;
    }
    /** Row Type **/
    .row-type h4, .row-type.col-sm-6  h4, .row-type.col-xs-6 h4 {
        font-size: 18px !important;
    }
    .square-grid-type .post-c-wrap .title  {
        font-size: 18px !important;        
    }
    /** SQuare Grid **/
    .module-square-grid .content_in .post-c-wrap .title {
        font-size: 18px !important;
    }
/** Carousel **/
    .module-carousel .post-c-wrap .title {
        font-size: 18px !important;
    }
    /*** Grid Carousel ***/
    .module-grid-carousel .carousel-single-item .post-c-wrap .title {
        font-size: 18px !important;
    }
    .module-grid-carousel .carousel-double-item .post-c-wrap .title {
        font-size: 18px !important;
    }
    /** Tech Grid **/
    .module-tech-grid ul li .title, .module-tech-grid ul li:first-child .title,
    .module-pyramid-grid ul li .title, .module-pyramid-grid ul li:first-child .title, .module-pyramid-grid ul li:nth-child(2) .title {
        font-size: 18px !important;
        margin: 12px 0 10px 0 !important;
    }
    /** Featured 1 **/
    .module-feature1 .primary-post h4, .module-feature1 .content_in .title {
        font-size: 18px !important;
    }
    /** Featured 2 **/
    .module-feature2 .content_out h4 {
        font-size: 18px !important;
    }
    .module-feature2 .content_out .excerpt {
        font-size: 13px;
    }
    .module-feature2 .content_out .meta-wrap {
        margin-top: 12px;
    }
    /*** Feature 3 **/
    .module-feature3-block .large-post-content .title, .module-feature4-block .large-post-content .title {
        font-size: 18px !important;
    }
    .module-feature3-block .list-small-post .title, .module-feature4-block .list-small-post .title {
        font-size: 16px !important;
    }
    .module-feature3-block .meta .post-date, .module-feature4-block .meta .post-date  {
        display: inline-block !important;
    }
    /** Slider **/
    .bk-slider-module .flexslider .item h4 {
        font-size: 18px !important;
        margin: 12px 0 10px 0;
    }
    /** hero **/
    .module-hero .content_in .post-c-wrap .title {
        font-size: 18px !important;
    }
    .module-hero .large-post .post-c-wrap .title {
        font-size: 18px !important;
    }
    /** Large Blog **/
    .module-large-blog .post-c-wrap h4 {
        font-size: 18px !important;
    }
    /** Grid 1 **/
    .module-grid-1 ul li .title, .module-grid-1 ul li:first-child .title, .module-grid-1 ul li:nth-child(2) .title {
        font-size: 18px !important;
    }
    /*** Grid 2 ***/
    .module-grid-2 ul li .title, .module-grid-2 ul li:first-child .title {
        font-size: 18px !important;
    }
    /*** Grid 3 ***/
    .module-grid-3 ul li .title, .module-grid-3 ul li:first-child .title {
        font-size: 18px !important;
    }
    /*** Grid 4 ***/
    .module-grid-4 ul li .title, .module-grid-4 ul li:first-child .title {
        font-size: 18px !important;
    }
    /*** Grid 5 ***/
    .module-grid-5 ul li .title, .module-grid-5 ul li:first-child .title {
        font-size: 18px !important;
    }
    /*** Grid 6 ***/
    .module-grid-6 ul li .title, .module-grid-6 ul li:first-child .title {
        font-size: 18px !important;
    }
    /** Grid 7 **/
    .module-grid-7 ul li:first-child .title {
        font-size: 18px !important;
    }
    .module-grid-7 ul li .title {
        font-size: 16px !important;
    }    
    .module-grid-7 .grid7-col:first-child .content_in .post-c-wrap {
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .module-grid-7 .content_in .post-c-inner {
        padding: 20px 0;
    }
    .module-grid-7 .meta .post-date {
        display: inline-block !important;
    }
    /** Grid 8 **/
    .module-grid-8 ul li:first-child .title {
        font-size: 18px !important;
    }
    .module-grid-8 ul li .title {
        font-size: 16px !important;
    }
    .module-grid-8 .grid8-col:first-child .content_in .post-c-wrap {
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .module-grid-8 .content_in .post-c-inner {
        padding: 20px 0;
    }
    .module-grid-8 .meta .post-date {
        display: inline-block !important;
    }
    /** Grid 9 **/
    .module-grid-9 ul li.grid-post-0 .title, .module-grid-9 ul li.bk-post-title-small .title{
        font-size: 18px !important;
    }
    /** Grid - 10 **/
    .module-grid-10 .grid10-col:first-child .title, .module-grid-10 .grid10-col .title {
        font-size: 18px !important;
    }
    /** Grid - 11 **/
    .module-grid-11 .grid11-col .title, .module-grid-11 .grid11-col-1 .grid-post-0 .title, .module-grid-11 .grid11-col-3 .grid-post-6 .title{
        font-size: 18px !important;
    }
    /** Block 5 **/
    .module-block-5 .post-c-wrap .title {
        font-size: 16px !important;
    }
    .module-block-5 .meta-wrap {
        display: none;
    }
    /** Module Block 6 **/
    .module-block-6 .large-post .title {
        font-size: 18px !important; 
    }
    .module-block-6 .block6-medium-posts li .title {
        font-size: 16px !important; 
    }
    .module-block-6 .block6-medium-posts li .meta-wrap {
        display: none;
    }  
    /** Module Block 7 **/
    .module-block-7 .large-post .title{
        font-size: 18px !important; 
    }
    .module-block-7 .block7-small-posts li:first-child .title {
        font-size: 18px !important;
    }
    .module-block-7 .block7-small-posts li .title  {
        font-size: 15px !important;
    }
    .module-block-7 .block7-small-posts li .meta-wrap {
        display: none;
    }   
    /** Module Block 8 **/
    .module-block-8 .large-post .title {
        font-size: 18px !important;
    }
    
    /** Module Block 11 12 **/
    .module-block-11 .meta .post-date, .module-block-12 .meta .post-date {
        display: block !important;
    }
    .module-block-11 .bk-block-11-wrap .title, .module-block-12 .bk-block-12-wrap .title {
        font-size: 15px !important;
    }
    /** Grid 14 **/
    .module-grid-14 ul li:first-child .title{
        font-size: 18px !important;
    }
    .module-grid-14 ul li .title {
        font-size: 16px !important;
    }
    .module-grid-14 ul li {
        width: 50%;
        height: 280px;
    }
    .module-grid-14 li:nth-child(n+2) .post-c-wrap {
        padding: 15px 10px;
    }
    .module-grid-14 ul li .meta .post-date{
        display: inline-block !important;
    }
    /** Classic Blog **/
    .module-classic-blog .post-c-wrap .title {
        font-size: 18px !important;
    }
    /** Sidebar **/
    .widget_latest_posts_3 .col-xs-6:nth-child(2n+2) {
        padding-left: 10px;
    }
    .widget_latest_posts_3 .col-xs-6:nth-child(2n+1) {
        padding-right: 10px;
    }
    .widget_latest_posts_5 .col-xs-6:nth-child(2n+1), .widget_latest_posts_7 .col-xs-6:nth-child(2n+1) {
        padding-left: 10px;
    }
    .widget_latest_posts_5 .col-xs-6:nth-child(2n+2), .widget_latest_posts_7 .col-xs-6:nth-child(2n+2) {
        padding-right: 10px;
    }
    
    .widget_latest_posts_3 .row-type h4, .widget_latest_posts_5 .row-type h4, .widget_latest_posts_7 .row-type:nth-child(n+2) h4 {
        font-size: 14px;
    }
    .single-share-box-no-cnt ul li .share-item__icon span {
        display: none;
    }
    /** Single **/
    .s-template-5 .bk-feature-image-fw-wrap .s-feat-img {
        min-height: 0;    
    }            
}
@media (max-width: 350px) {
    .header-1 .header-wrap .canvas-menu-wrap .logo img{ 
        max-height: 35px;
        width: auto;
        max-width: 130px;
        height: auto;
    }
/** Sidebar **/
/** Social Counter **/
/** Embeded Frame **/
    #bk-normal-feat .bk-embed-video, #bk-normal-feat .bk-embed-audio, .bk-embed-video, .bk-embed-audio {
        min-width: 290px !important;
    }
    .header-1 .rubik-sticky-header .main-nav .canvas-menu-wrap {
        margin-right: 15px;
    }
    .ajax-search-result .s-list .small-thumbnail-wrapper {
        display: none;
    }
}